.header{
    background-color: rgba(229, 84, 115, 0.10);;
}

.page-banner{
    padding: 90px 0;
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
    width: 400px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-right: 50px;
    margin-bottom: 32px;

}
.banner-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}
.banner-btn{
    color: #FFF;
    font-size: 20px;
    padding: 20px 38px;
    border: none;
    border-radius: 8px;
background: #E55473;
}
.feat-title{
    color: #272727;
text-align: center;

font-size: 40px;
font-weight: 800;

}
.feat-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 45px;
}
.flows{
    display: flex;
    gap: 24px;
    /* margin: 45px 195px; */
}
.flows-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 0 55px;
    padding-top: 95px;
    
}
.flows-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 35px 51px;
}
.flows-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 0 55px;
    padding-top: 95px;
}
.dale-1{
    padding-left: 125px;
}
.dale-2{
    padding-left: 125px;
}
.dale-3{
    padding-left: 125px;
}
.home-dale{
    
    margin: 125px 300px ;
    display: flex;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 86px 0;
}
/* chaps */
.deal{
    padding: 100px  250px;
    display: flex;
    align-items: center;
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.chap-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.chap-span{
    color: #E55473;
}
.chap-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.chap-btn{
    border-radius: 8px;
background: #E55473;
color: #FFF;
padding: 20px 40px;
border: none;
}
/* insta */
.insta-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.insta-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.insta-images{
    margin-top: 50px;
    display: flex;
    gap: 15px;
}
.img-des{
    width: 322px;
height: 345px;
flex-shrink: 0;
}
.bg{
    margin: 115px 130px;
    padding: 121px 180px;
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
}
.rafe-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.rafe-desc{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}


.form-st{
    font-size: medium;
    width: 500px;
height: 44px;
border-radius: 8px;
background: #FFF;
margin-bottom: 100px;

}
.form-btn{
    color: #FFF;
font-size: 20px;
font-weight: 700;
width: 150px;
height: 64px;
border-radius: 8px;
background: #E55473;
border: none;
}
.foot-title{
    color: #E55473;
    text-align: center;
font-size: 48px;
font-weight: 800;
}
.foot-span{
    color: #FFF;
}
.foot-desc{
    color: #FFF;
    text-align: center;
font-size: 18px;
font-weight: 800;
}
.foot-end{
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.footer{
    padding: 120px 350px;
    background: #111010;
}